CHAT_PORT=5301
MYSQL_DATABASE=workflow_agent_chat
MYSQL_USER=workflow_chat
MYSQL_PASSWORD=change-this-password
MYSQL_ROOT_PASSWORD=change-this-root-password
RUNTIME_BASE_URL=http://host.docker.internal:30001
RUNTIME_WORKFLOW_KEY=
CHAT_CORS_ORIGINS=*
RUNTIME_MOCK_ENABLED=false
JAVA_OPTS=-XX:MaxRAMPercentage=75 -XX:+ExitOnOutOfMemoryError
